<app-modal [showModal]="showModal" [title]="alertTitle" [message]="alertMessage" [color]="alertColor"  ></app-modal>

<!-- Request to send Reset Token -->
<app-card-center title="Forgot Password" description="Enter your email to receive a reset token.">
  
    
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="sendResetToken()" class="space-y-6">
        <div>
            <app-label>Email</app-label>
            <app-input [control]="forgotPasswordControls.email" type="email" placeholder="Enter your email .."  ></app-input>
        </div>
        
        <div>
            <app-button [isDisabled]="forgotPasswordForm.invalid" [label]="'Send Reset Token'"></app-button>
        </div>
    </form>
    <hr class="mt-12 mb-4">
    <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()" class="space-y-6">
        <div>
            <app-label>Token</app-label>
            <app-input [control]="resetPasswordControls.token" type="text" placeholder="Enter your token .."  ></app-input>
        </div>
        <div>
            <app-label>Email</app-label>
            <app-input [control]="resetPasswordControls.email" type="email" placeholder="Enter your email .."  ></app-input>
        </div>
    
        <div>
            <app-label>New Password</app-label>
            <app-input [control]="resetPasswordControls.newPassword" type="password" placeholder="Enter your new password .."  ></app-input>
        </div>
    
        <div>
            <app-button [isDisabled]="resetPasswordForm.invalid" [label]="'Reset Password'"></app-button>
        </div>
        </form>
    
            
</app-card-center>