<!-- <app-modal title="Jour Fériés" [showModal]="showAlertModal"></app-modal> -->
<!-- <div *ngIf="showAddEventModal"
  class="absolute z-10 " aria-labelledby="modal-title" role="dialog" aria-modal="true">    
  <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
  <div class="relative p-4 w-full max-w-md max-h-full">
        <div class="relative top-1/2 left-1/2 bg-white rounded-lg shadow dark:bg-gray-700">
            <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600 ">
                <h3 class="text-lg font-semibold text-gray-700 dark:text-white">
                    Jours Fériées
                </h3>
                <button type="button" (click)="toggleAddEventModal()" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-toggle="crud-modal">
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <form  class="p-4 md:p-5" [formGroup]="addEventForm" (ngSubmit)="addEvent()">
                <div class="grid gap-4 mb-4 grid-cols-2">
                    <div class="col-span-2">
                        <label for="name" class="block mb-2 text-sm font-medium text-gray-700 dark:text-white">Titre</label>
                        <input [formControl]="controls['title']" type="text" name="name" id="name"  placeholder="Type jour fériés" required="" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                    </div>
                    <div class="col-span-1 row-span-1">
                        <label for="date" class="block mb-2 text-sm font-medium text-gray-700 dark:text-white">De</label>
                        <input [formControl]="controls['startDate']" type="date" id="date" name="date" required lass="bg-gray-50 border border-gray-300 text-gray-700 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" >
                    </div>

                    <div class="col-span-1 row-span-1">
                        <label for="date" class="block mb-2 text-sm font-medium text-gray-700 dark:text-white">à</label>
                        <input [formControl]="controls['endDate']" type="date" id="date" name="date" required class="bg-gray-50 border border-gray-300 text-gray-700 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" >
                    </div>
  
                    <div class="col-span-1 sm:col-span-1">
                        <label for="category" class="block mb-2 text-sm font-medium text-gray-700 dark:text-white">Type</label>
                        <select [formControl]="controls['type']" id="category"  class="bg-gray-50 border border-gray-300 text-gray-700 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                            <option *ngFor="let type of listTypesJoursFeries;let i = index;" [value]="type"  >{{type | uppercase}}</option>
                        </select>
                    </div>
                    <button
                    type="submit"
                    [disabled]="addEventForm.invalid"
                    class=" col-span-2 flex items-center justify-center gap-2 px-2 h-8 mt-2 me-3 text-sm font-medium text-gray-500 bg-white border border-gray-300 rounded-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white cursor-pointer disabled:opacity-35 disabled:cursor-not-allowed disabled:hover:bg-gray-100 disabled:text-gray-500 disabled:border-gray-300 disabled:hover:text-gray-500 disabled:hover:border-gray-300"
                    >
                    Sauvgarder
                    <i class="pi pi-check" style="font-size: 0.8rem;"></i>
                </button>
                </div>
            </form>
        </div>
    </div>
</div>  -->
<!-- <p-scrollPanel [style]="this.containerMesures"> -->
<!--     
<div class="py-2 rounded-sm sm:bg-gray-50 sm:px-8 sm:shadow z-0 select-none">
   
    <div class="pt-4">
      <h1 class="py-2 text-2xl font-bold text-gray-700">Jours Fériés</h1>
    </div>
    <hr class="mt-4 mb-8" />

    <div class="flex flex-col space-y-4">
      <div class="flex flex-col space-y-2">
        <p class="text-md font-semibold">Synchronisation données</p>
        <p class="text-gray-600">Mise en correspondance des données avec les jours fériés qui ont été précédemment annoncés. </p>
      </div>
      
      <p-button 
      class="self-start px-2 py-1.5 text-sm font-light text-gray-500 bg-white border border-gray-300 rounded-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white cursor-pointer"
      label="Synchroniser"
      icon="pi pi-refresh"
      [loading]="syncing"
      (click)="syncEvents()"
      >
     </p-button>
    </div>
        <hr class="mt-4 mb-4" />

        <div class="mb-4">
          <h1 class="py-2 text-2xl font-bold text-gray-700">Calendrier des Jours Fériés

            <i class="pi pi-question-circle"></i>
          </h1>
        </div>
  <div class="grid grid-cols-7 grid-rows-1 grid-template-col-7 text-center pb-8">
    
    

    <div class="flex items-baseline col-start-1
    col-end-4 col-span-3">
              <div  
                class="flex items-center justify-center gap-1 px-2 h-8 me-3 text-sm font-medium text-gray-500 bg-white border border-gray-300 rounded-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white cursor-pointer"

                mwlCalendarPreviousView
                [view]="view"
                [(viewDate)]="viewDate"
                (viewDateChange)="closeOpenMonthViewDay()"
              >
              <i class="pi pi-arrow-left" style="font-size: 0.8rem;"></i>
                Previous
              </div>

              <div 
              class="relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-500 rounded-lg group bg-gradient-to-br from-cyan-500 to-blue-500 group-hover:from-cyan-500 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-1 focus:outline-none focus:ring-cyan-200 dark:focus:ring-cyan-800 cursor-pointer"
              mwlCalendarToday
              [(viewDate)]="viewDate"
              >
                  <span class="relative px-2 py-1 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
                  Today
                  </span>
              </div>

              <div  
                class="flex items-center justify-center gap-2 px-2 h-8 me-3 text-sm font-medium text-gray-500 bg-white border border-gray-300 rounded-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white cursor-pointer"
                mwlCalendarNextView
                [view]="view"
                [(viewDate)]="viewDate"
                (viewDateChange)="closeOpenMonthViewDay()"
              >
              Next
              <i class="pi pi-arrow-right" style="font-size: 0.8rem;"></i>
              </div>
    </div>
    
    <div class="text-3xl text-gray-600 font-bold tracking-tight sm:text-4xl col-span-3 place-self-start">
      <h3
        class="whitespace-nowrap"
      >{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
    </div>


    <div class="place-self-end col-span-1">
        <select 
        (change)="onSelectView($event.target)"
        class="select select-bordered p-2 w-32  text-sm font-medium text-gray-500 bg-white border border-gray-300 rounded-lg cursor-pointer"
    >
        <option 
        value="Month"
        [class.active]="view === CalendarView.Month"
             selected>
             Month
        </option>
        <option 
        value="Week"
        [class.active]="view === CalendarView.Week">
            Week 
        </option>
        <option 
        value="Day" 
        [class.active]="view === CalendarView.Day">
            Day
        </option>

    </select>
    </div>
  </div>
  <br />
  <div [ngSwitch]="view">
    <mwl-calendar-month-view
      *ngSwitchCase="CalendarView.Month"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      [activeDayIsOpen]="activeDayIsOpen"
      (dayClicked)="dayClicked($event.day)"
      (eventTimesChanged)="eventTimesChanged($event)"
      >
    </mwl-calendar-month-view>
    <mwl-calendar-week-view
      *ngSwitchCase="CalendarView.Week"
      [viewDate]="viewDate"
      [events]="displayEvents"
      [refresh]="refresh"
      (eventTimesChanged)="eventTimesChanged($event)"
      >
    </mwl-calendar-week-view>
    <mwl-calendar-day-view
      *ngSwitchCase="CalendarView.Day"
      [viewDate]="viewDate"
      [events]="displayEvents"
      [refresh]="refresh"
      (eventTimesChanged)="eventTimesChanged($event)"
      >
    </mwl-calendar-day-view>
  </div>
  
  <hr class="mt-8 mb-4" />

  <div class="flex flex-col space-y-2 mb-4">
    <p class="text-md font-semibold">Paramétrage et Notification des Jours Fériés</p>
    <p class="text-gray-600">Ce tableau vous permet d’ajouter et de gérer les jours fériés, vous avez la possibilité d’envoyer des notifications par e-mail aux parties prenantes.</p>
  </div>
  <div class="w-full flex justify-end ">
    
    <div  
        class="flex items-center justify-center gap-2 px-2 h-8 mb-2 me-3 text-sm font-medium text-gray-500 bg-white border border-gray-300 rounded-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white cursor-pointer"
         (click)="toggleAddEventModal()"
     >
     Jour Féries
     <i class="pi pi-plus" style="font-size: 0.8rem;"></i>
     </div>
     <div  
     class="flex items-center justify-center gap-2 px-2 h-8 mb-2 me-3 text-sm font-medium text-gray-500 bg-white border border-gray-300 rounded-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white cursor-pointer"
      (click)="export()"
     >
        Exporter
    <i class="pi pi-send" style="font-size: 0.8rem;"></i>
    </div>
  </div>
  
  <div class="pb-8">


    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 text-center uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                
                <th scope="col" class="px-4 py-3">
                    Jour Fériés
                </th>
                <th scope="col" class="px-4 py-3">
                    Type
                </th>
                <th scope="col" class="px-4 py-3">
                    Date début
                </th>
                <th scope="col" class="px-4 py-3">
                    Date fin
                </th>
                <th scope="col" class="px-4 py-3">
                    Tag
                </th>
            </tr>
        </thead>
  
      <tbody>
        <tr 
        class="border-b text-center cursor-pointer dark:bg-gray-800 dark:border-gray-700 hover:bg-white dark:hover:bg-gray-600"
        *ngFor="let event of events; let i = index;"
        [ngClass]="{'bg-gray': i % 2 === 0,'bg-white': i % 2 !== 0}"
        >
          <td>
            {{ event.title }}
          </td>

          <td>
            {{ event.type }}
          </td>
          
          <td>
            
            {{ event.start | date: 'dd/MM/yyyy' }}
          </td>
          <td>
           
            {{ event.end | date: 'dd/MM/yyyy' }}
          </td>
          <td>
            <input
              type="color"
              class="color-picker rounded-xl"
              [(ngModel)]="event.color.primary"
              (change)="refresh.next()"
            />
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div> -->

<!-- </p-scrollPanel> -->


<h1>Jours Fériées Works</h1>