spring:
  profiles:
    active: dev
  servlet:
    multipart:
      max-file-size: 50MB

  application:
    name: suivie-physique
  datasource:
    url: jdbc:mysql://suivie-physique-master.cbsqw4oegule.us-east-1.rds.amazonaws.com/sp
    username: admin
    password: admin1234
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true
    database: mysql
    database-platform: org.hibernate.dialect.MySQLDialect

  mail:
    host: sandbox.smtp.mailtrap.io
    port: 2525
    username: 2a95a56635fe76
    password: 14d1ad990c7361
    properties:
      mail:
        inbox: "dotcipher@ncrm.com"
        smtp:
          trust: "*"
          auth: true
          starttls:
            enable: true
          ssl:
            trust: "*"
          connectiontimeout: 5000
          timeout: 3000
          writetimeout: 5000


application:
  security:
    jwt:
      secret: 34ed06d70d644f420f48135b6ef6296e06225300bc5dd349efc7ad44399b287524aa343646a2f1c2ece30fe374045ee59490563db1c030dfc501296a5b4988d1
      expiration: 86400000
      header: Authorization
      prefix: Bearer
      issuer: dotcipher
      audience: dotcipher
  cors:
    allowed-origins: http://localhost:4400,http://localhost:4200,http://localhost:8080

  mailing:
    frontend:
      activation-url: 'http://localhost:4400/activate-account'

server:
  port: 3008
  servlet:
    context-path: /api/v1/
springdoc:
  default-produces-media-type: application/json