<!--<div class="limiter">-->
<!--  <div class="container-login100">-->
<!--    <div class="wrap-login100">-->
<!--      <form (ngSubmit)="loginForm.valid && validateUser(loginForm)" class="login100-form validate-form p-l-55 p-r-55 p-t-140" #loginForm="ngForm">-->
<!--        <span class="login100-form-title">-->
<!--          Sign In-->
<!--        </span>-->
<!--        <div class="form-group">-->
<!--          <div class="wrap-input100 validate-input m-b-16" data-validate="Please enter email">-->
<!--            <input class="input100" type="email" name="email" id="email" placeholder="Email" required-->
<!--                   pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"-->
<!--                   [(ngModel)]="model.email" #email="ngModel">-->
<!--            <span class="focus-input100"></span>-->
<!--          </div>-->
<!--          <span class="text-danger" *ngIf="(email.touched || loginForm.submitted) &&-->
<!--          email.errors?.['required']">Error : Email is required !</span>-->
<!--          <span class="text-danger" *ngIf="(email.touched || loginForm.submitted) &&-->
<!--          email.errors?.['pattern']">Error : Please provide a valid email address !</span>-->
<!--        </div>-->

<!--        <div class="form-group">-->
<!--          <div class="wrap-input100 validate-input" data-validate="Please enter password">-->
<!--            <input class="input100" type="password" name="password" placeholder="Password" id="password" required-->
<!--                   [(ngModel)]="model.password" #password="ngModel" minlength="5">-->
<!--            <span class="focus-input100"></span>-->
<!--          </div>-->
<!--          <span class="text-danger" *ngIf="(password.touched || loginForm.submitted) &&-->
<!--          password.errors?.['required']">Error : Password is required !</span>-->
<!--          <span class="text-danger" *ngIf="(password.touched || loginForm.submitted) &&-->
<!--          password.errors?.['minlength']">Error : Password must be at least 5 characters long. !</span>-->
<!--        </div>-->
<!--        <div class="text-right p-t-13 p-b-23">-->
<!--          <span class="txt1">-->
<!--            Forgot-->
<!--          </span>-->

<!--          <a href="#" class="txt2">-->
<!--            Password?-->
<!--          </a>-->
<!--        </div>-->

<!--        <div class="container-login100-form-btn">-->
<!--          <button class="login100-form-btn" type="submit">-->
<!--            Sign in-->
<!--          </button>-->
<!--        </div>-->

<!--        <div class="flex-col-c p-t-40 p-b-20">-->
<!--          <span class="txt1 p-b-9">-->
<!--            Don’t have an account?-->
<!--          </span>-->
<!--          <a href="#" class="txt3">-->
<!--            Sign up now-->
<!--          </a>-->
<!--        </div>-->
<!--      </form>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->


<div class="flex min-h-full flex-col justify-center px-6 py-8 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <img class="mx-auto h-24 w-auto" src="./assets/image/logo_secondary.png" alt="Suivie Physique">
    <h2 class="mt-4 text-center text-2xl font-bold leading-9 tracking-tight text-sky-600">Access to your account</h2>
  </div>

  <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-sm">

    <form [formGroup]="loginForm" (ngSubmit)="loginUser()" class="space-y-6">
      <div>
        <app-label>Email</app-label>
        <app-input [control]="email" type="email" placeholder="Enter your username .."  ></app-input>
      </div>

      <div>
        <div class="flex items-center justify-between">
         <app-label>Password</app-label>
          <div class="text-sm">
            <a href="#" class="font-semibold text-sky-600 hover:text-sky-500">Forgot password?</a>
          </div>
        </div>
        <div class="mt-2">
          <app-input [control]="password" type="password" placeholder="Enter your password .." ></app-input>
        </div>
      </div>

      <div>
        <button [disabled]="loginForm.invalid"
          type="submit" class="disabled:opacity-35 disabled:hover:bg-sky-600 disabled:cursor-not-allowed disabled:text-white flex w-full justify-center rounded-md bg-sky-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-sky-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-sky-600">Sign in</button>
      </div>
    </form>

    <p class="mt-10 text-center text-sm text-gray-500">
      Not a member?
      <a href="/register" class="font-semibold leading-6 text-sky-600 hover:text-sky-500">Create an account</a>
    </p>
  </div>
</div>

